@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans.woff') format('woff'),
         url('../fonts/OpenSans.ttf') format('truetype'),
         url('../fonts/OpenSans.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'iconos';
	src:url('../fonts/iconos.eot?-azlgta');
	src:url('../fonts/iconos.eot?#iefix-azlgta') format('embedded-opentype'),
		url('../fonts/iconos.woff?-azlgta') format('woff'),
		url('../fonts/iconos.ttf?-azlgta') format('truetype'),
		url('../fonts/iconos.svg?-azlgta#iconos') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'iconos';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-github:before {
	content: "\e600";
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    border-bottom: 2px solid #ccc;
    border-top: 1px solid #ccc;
    padding-bottom: 2em;
}

fieldset {
    padding-bottom: 1em;
}

footer {
    text-align: center;
    padding-bottom: 1em;
    padding-top: 1em;
}


#avatar {
    width: 48px;
}

#banner_cursoft {
    border-radius: 1em;
}

#botones {
    text-align: center;
}
#cancelar {
    padding-left: 0.5em;
}

#contenedor {
    padding: 2em;
}

#contenido {
    margin-top: 2em;
}

#formulario {
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 2em;    
}

#megaterios {
    text-decoration: none;
}

#menu {
    margin-top: 2em;
}

#nombre {
    list-style-type: none;
}

#recordar {
    text-align: center;
    font-size: 0.9em;
}

#recuperar {
    margin-right: 0.5em;
}

#registro {
    text-align: center;
}

#subtitulo {
    text-align: center;
}

.registro {
    display: inline-block;
    margin: 0.5em;
}



